body,
h1,
h2,
h3,
h4,
p,
div,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  user-select: none; }

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #131212;
  font-family: 'Roboto';
  scroll-behavior: smooth; }
  .portfolio__title {
    font-size: 72px;
    color: white;
    text-align: center;
    margin: 0 0 72px;
    box-shadow: -2px 2px 33px wheat;
    border-radius: 32px;
    text-transform: uppercase; }
  .portfolio__subtitle {
    font-size: 48px;
    color: white;
    text-align: center;
    margin: 0 0 72px;
    box-shadow: -2px 2px 33px wheat;
    border-radius: 32px;
    max-width: 30%;
    align-self: flex-end; }
    .portfolio__subtitle.react {
      margin-top: 72px; }
  .portfolio__body {
    width: 100%;
    padding: 48px; }
  .portfolio__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 32px; }
    .portfolio__content-item {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      width: 100%;
      min-height: 600px;
      background: linear-gradient(to bottom right, #87CEFA, #ADD8E6);
      border-radius: 16px;
      padding: 24px 16px;
      box-shadow: 0 8px 15px grey;
      transition: all .4s ease-in-out; }
      .portfolio__content-item-link {
        display: flex;
        align-items: center;
        align-self: center;
        column-gap: 24px; }
      .portfolio__content-item a {
        color: black;
        font-size: 18px;
        font-weight: 700;
        align-self: center;
        transition: transform .3s ease-in-out;
        text-decoration: none; }
      .portfolio__content-item a:hover {
        transform: scale(1.1);
        text-decoration: underline; }
      .portfolio__content-item svg {
        width: 50px;
        cursor: pointer;
        transition: transform .3s ease-in-out; }
        .portfolio__content-item svg polygon {
          transform: scale(0.3) translateY(50%); }
      .portfolio__content-item svg:hover {
        transform: scale(1.1); }
      .portfolio__content-item img {
        height: 70%; 
        object-fit: cover;
      }
    .portfolio__content-item:hover {
      box-shadow: 0 8px 15px #e7e78d;
      transform: translateY(-15px); }

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.1);
    opacity: 0.7; }
  100% {
    transform: scale(1);
    opacity: 1; } }
.pulse-effect {
  display: inline-block;
  animation: pulse 1s infinite; }

@media (max-width: 567px) {
  .portfolio__body {
    padding: 72px 15px 48px; }
  .portfolio__title {
    padding: 15px;
    font-size: 42px; }
  .portfolio__subtitle {
    padding: 10px;
    max-width: 100%;
    font-size: 28px; }
  .portfolio__content {
    grid-template-columns: 1fr; }
    .portfolio__content-item {
      max-width: 100%; }
      .portfolio__content-item img {
        max-width: 100%;
        object-fit: cover; } }

/*# sourceMappingURL=style.css.map */
